@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --font-*: initial;
  --font-body: "Outfit Variable", "sans-serif";

  --color-dark: var(--color-gray-950);
  --color-light: var(--color-white);
  --color-focus-light: var(--color-blue-400);
  --color-focus: var(--color-blue-600);
  --color-danger-light: var(--color-red-400);
  --color-danger: var(--color-red-600);
  --color-blue: var(--color-blue-300);
  --color-green: var(--color-green-300);
  --color-red: var(--color-red-300);

  --shadow-*: initial;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
}

@custom-variant aria-invalid {
  &[aria-invalid="true"] {
    @slot;
  }
}

@layer base {
  html {
    @apply bg-light text-dark scheme-light;

    @variant dark {
      @apply bg-dark text-light scheme-dark;
    }
  }

  body {
    @apply font-body;
  }

  dialog {
    @apply opacity-0 transition-[opacity,display,overlay] transition-discrete;

    @variant open {
      @apply opacity-100;

      @variant starting {
        @apply opacity-0;
      }

      @variant backdrop {
        @apply opacity-50;

        @variant starting {
          @apply opacity-0;
        }
      }
    }

    @variant backdrop {
      @apply bg-dark opacity-0 transition-[opacity,display,overlay] transition-discrete;
    }
  }
}

@utility input {
  @apply rounded-full border-none bg-gray-100 px-3 py-2 outline-3 outline-offset-0 outline-transparent;

  @variant dark {
    @apply bg-gray-800 text-light;
  }

  @variant focus-visible {
    @apply outline-focus;

    @variant dark {
      @apply outline-focus-light;
    }
  }

  @variant aria-invalid {
    @apply outline-danger;

    @variant dark {
      @apply outline-danger-light;
    }
  }

  @variant hover {
    @apply brightness-95;

    @variant dark {
      @apply brightness-125;
    }
  }
}

@utility btn {
  @apply flex items-center justify-center gap-1 rounded-full px-2 py-1 whitespace-nowrap outline-3 outline-offset-0 outline-transparent;

  @variant focus-visible {
    @apply outline-focus;

    @variant dark {
      @apply outline-focus-light;
    }
  }
}
