@import "tailwindcss";

@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant aria-invalid (&[aria-invalid="true"]);

@theme {
  --font-*: initial;
  --font-body: "Outfit Variable", "sans-serif";

  --color-dark: var(--color-gray-950);
  --color-light: var(--color-white);
  --color-focus-light: var(--color-blue-400);
  --color-focus: var(--color-blue-600);
  --color-danger-light: var(--color-red-400);
  --color-danger: var(--color-red-600);
  --color-blue: var(--color-blue-300);
  --color-green: var(--color-green-300);
  --color-red: var(--color-red-300);

  --shadow-*: initial;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@layer base {
  ::backdrop {
    @apply bg-dark/50;
  }

  html {
    @apply bg-light;
    @apply scheme-light;

    &.dark {
      @apply bg-dark;
      @apply scheme-dark;
    }
  }

  body {
    @apply font-body;
    @apply bg-light dark:bg-dark;
  }
}

@layer components {
  .input {
    @apply rounded-full;
    @apply border-none bg-gray-100;
    @apply dark:text-light dark:bg-gray-800;
    @apply focus-outline invalid-outline;

    &:hover {
      @apply brightness-95 dark:brightness-125;
    }
  }

  .btn {
    @apply flex;
    @apply items-center;
    @apply gap-1;
    @apply justify-center;
    @apply rounded-full;
    @apply px-2 py-1;
    @apply whitespace-nowrap;
    @apply focus-outline;

    &:hover {
      @apply bg-gray-100 dark:bg-gray-800;
    }
  }
}

@utility focus-outline {
  @apply focus-visible:outline-3;
  @apply focus-visible:outline-offset-0;
  @apply focus-visible:outline-focus focus-visible:dark:outline-focus-light;
}

@utility invalid-outline {
  @apply aria-invalid:outline-3;
  @apply aria-invalid:outline-offset-0;
  @apply aria-invalid:outline-danger aria-invalid:dark:outline-danger-light;
}
